<%- include('../../partials/head.ejs',{title:'404 Not Found'}) %>

    <div class="container my-5 my-container">
        <h1 class="display-4 text-center">404 Not Found</h1>
    </div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>