<%- include('../../partials/head.ejs',{title:'Internal Server Error'}) %>

    <div class="container my-5 my-container">
        <h1 class="display-4 text-center">Internal Server Error</h1>
    </div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>