<%- include('../../partials/head.ejs',{title:'Image Not Founded'}) %>

<div class="container my-5 my-container">
    <h1 class="display-4 text-center">Image Not Founded</h1>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>