<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">EXP Blogs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/explorer"
            >Explorer <span class="sr-only">(current)</span></a
          >
        </li>

       <%if(isLoggedIn){%>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          
        <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="/auth/singup">Singup</a>
          </li>
          <%}%>

      </ul>
      <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="term"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
